/* src/assets/main.css */

/* Стили для панелей и основной структуры */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 2rem;
  background-color: #fff;
}

/* Панель навигации */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar li {
  margin: 0;
}

.navbar a {
  color: white;
  font-size: 1.2rem;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Футер */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Чтобы футер был всегда внизу */
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

/* Стили для страниц */
h1, h2, h3, h4 {
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
